.App {
  text-align: center;
  float: left;
}

.App-header {
  background-color: #222;
  padding: 6em;
  color: white;
  margin-bottom: 1em;

}

.App-header h1{
  position:relative
}
.App-header h1, .addMemoryFrame{
  display: inline;
}

.App-title {
  font-size: 1.5em;
}

.frame {
  width: 30%;
  height: 200px;
  float:left;
  padding: 20px;
  border: solid 1px;
}

img{
  height: 100px;
  width: 100px;
}

.addMemory{
  float:right;
  position:relative;
}

.gallery{
  margin: 20px;
  position: relative;
}
.addMemoryFrame {
  float: right;
}

.addMemoryFrame input{
  width: 400px;
}

.addMemoryButton{
  float:right;
}
