.App {
  text-align: center;
  float: left;
}

.App-header {
  background-color: #222;
  padding: 2em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.frame {
  width: 30%;
  height: 200px;
  float:left;
  padding: 20px;
  border: solid 1px;

}

img{
  height: 100px;
  width: 100px;
}